@import "tailwindcss";


*{
  box-sizing: border-box;
  
}
#root{
    background: var(--Dark-Blue, #10141E);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   overflow-x: hidden;
   
}


